<div class="card container" style="width: 18rem;">
    <img src="../../../assets/image.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Zenitsu</h5>
      <p class="card-text">Zenitsu is cowardly, weak-willed, and anxious, often claiming that he doesn't have long to live due to the dangerous job of being a Demon Slayer. He has rather low self-esteem despite his talent and strength, even considering himself useless, evident when he couldn't believe he had slain a demon and tricked himself into instead believing that it was Shoichi, even though the latter.</p>
      <a href="https://kimetsu-no-yaiba.fandom.com/wiki/Zenitsu_Agatsuma" class="btn btn-primary">About Zenitsu</a>
    </div>
  </div>