
<nav class="navbar navbar-expand-lg m-0" style="padding:10px; margin:0px; background: linear-gradient(90deg, rgba(95,0,103,1) 0%, rgba(95,0,103,1) 65%, rgba(14,0,15,1) 100%);">
  <a class="navbar-brand" routerLink="/" style="color: #DDCBE7;">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/" routerLinkActive="active" style="color: #DDCBE7;">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/about" routerLinkActive="active" style="color: #DDCBE7;">About</a>
        </li>
      </ul>
    </div>
  </nav>

 
<router-outlet></router-outlet>